<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSE226Notes"
        tools:targetApi="31">

        <receiver android:name=".unit_2.JobServiceBroadcastReceiver" />
        <service
            android:name=".unit_2.JobServiceDemo"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".unit_2.JobServiceExample"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".unit_2.BoundServiceDemo" />

        <activity
            android:name=".unit_2.BoundServiceExample"
            android:exported="true" />

        <service android:name=".unit_2.ForegroundServiceDemo" />

        <activity
            android:name=".unit_2.ForegroundServiceExample"
            android:exported="true" />

        <service android:name=".unit_2.UnboundServiceDemo" />

        <activity
            android:name=".unit_2.UnboundServiceExample"
            android:exported="true" />
        <activity
            android:name=".unit_2.AsyncTaskDownloadImage"
            android:exported="true" />
        <activity
            android:name=".unit_2.AsyncTaskProgressBar"
            android:exported="true" />
        <activity
            android:name=".unit_1.GridViewExample"
            android:exported="true" />
        <activity
            android:name=".unit_1.RecyclerViewExample"
            android:exported="true" />
        <activity
            android:name=".unit_1.CustomListViewExample"
            android:exported="true" />
    </application>

</manifest>