<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSE226Notes"
        tools:targetApi="31">
        <activity
            android:name=".unit_6.DebugExample"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".unit_5.GeoCodeExample"
            android:exported="false" />
        <activity
            android:name=".unit_5.CurrentLocationExample"
            android:exported="false" />
        <activity
            android:name=".unit_5.DynamicWebViewExample"
            android:exported="false" />
        <activity
            android:name=".unit_5.StaticWebViewExample"
            android:exported="false" />
        <activity
            android:name=".unit_4.RoomDatabaseExample"
            android:exported="false" />
        <activity
            android:name=".unit_4.SQLiteDatabaseExample"
            android:exported="false" />
        <activity
            android:name=".unit_3.CardViewExample"
            android:exported="false" />
        <activity
            android:name=".unit_3.FloatingActionButtonBottomNavigationBar"
            android:exported="false" />
        <activity
            android:name=".unit_3.FloatingActionButtonExample"
            android:exported="false" />
        <activity
            android:name=".unit_3.VideoViewExample"
            android:exported="false" />
        <activity
            android:name=".unit_2.BroadcastReceiverBatteryStatusExample"
            android:exported="false" />
        <activity
            android:name=".unit_2.BroadcastReceiverWifiStateExample"
            android:exported="false" />
        <activity
            android:name=".unit_2.BroadcastReceiverAirplaneModeExample"
            android:exported="false" />

        <receiver android:name=".unit_2.JobServiceBroadcastReceiver" />

        <service
            android:name=".unit_2.JobServiceDemo"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".unit_2.JobServiceExample"
            android:exported="false" />

        <service android:name=".unit_2.BoundServiceDemo" />

        <activity
            android:name=".unit_2.BoundServiceExample"
            android:exported="false" />

        <service android:name=".unit_2.ForegroundServiceDemo" />

        <activity
            android:name=".unit_2.ForegroundServiceExample"
            android:exported="false" />

        <service android:name=".unit_2.UnboundServiceDemo" />

        <activity
            android:name=".unit_2.UnboundServiceExample"
            android:exported="false" />
        <activity
            android:name=".unit_2.AsyncTaskDownloadImage"
            android:exported="false" />
        <activity
            android:name=".unit_2.AsyncTaskProgressBar"
            android:exported="false" />
        <activity
            android:name=".unit_1.GridViewExample"
            android:exported="false" />
        <activity
            android:name=".unit_1.RecyclerViewExample"
            android:exported="false" />
        <activity
            android:name=".unit_1.CustomListViewExample"
            android:exported="false" />
    </application>

</manifest>